/* configurable */
[[setting:plainbg]]

/* Global
---------------------------*/

body {
    font-family: arial, verdana, sans-serif;
    font-size: 0.8em;
	line-height: 1.3em;
    color: #666;
	margin:0;
	padding:0;
}
a {
	color:#0066CC;
	text-decoration: none;

}
a:hover {
    color: #0099FF;
}
p, ul, ol, th, td {
    color: #666;
	line-height: 1.3em;

	border-color: #D3D3D3;
}
hr {
	color:#D3D3D3;
	background-color:#D3D3D3;
	height:1px;
	border:none;
	margin:5px 0;
	padding:0;
}
.clearer {
	clear:both;
	margin:0;
	padding:0;
}
input, textarea, select {
	margin-left: 0;
	margin-right: 3px;

}
input[type=text] {
	padding:2px;
	margin-right: 3px;
}
input.text {
	padding:2px;
	margin-right: 3px;

}
.helplink img {
	width:14px;
	height:14px;
}
.profilepicture {
	border:1px solid #D3D3D3;

}
#page {
	min-width:960px;
}
#wrapper {
    background: url([[pix:theme|wrapper-shadow]]) no-repeat scroll center top #FFFFFF;
    margin: 0 0 10px;
    padding: 18px 6px 30px;
}
#page .page-effect {
	padding:0 10px;
    background: url([[pix:theme|pgbg-grad-dark]]) repeat-x scroll left top transparent;
}
#page-content #region-main .region-content {
	padding-top:15px;
	padding-left:5px;
}

h1,h2,h3,h4,h5,h6 {
    color: #666;
    font-weight: bold;
}

blockquote {
    border-left:1px solid #eee;
    padding-left:15px;
    color:#666;
}

fieldset#general {
    border-color: #eee;
}

fieldset#general legend {
    color: #555;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #eee;
    padding: 2px 5px;
    background: #fff;
}
#page-footer {
	background: url([[pix:theme|pgbg-grad-dark]]) repeat-x scroll left top transparent;
    min-height: 150px;
	margin-top:30px;
	padding-top:10px;
	color:#FFF;
	border-top:1px solid #c7c7c7;
}
#page-footer a {
	color:#CCC;
}
#page-footer .homelink a {
	color:#0066CC;
    background: #FFF;
    padding: 3px 10px;
}
#page-footer .logininfo,
#page-footer .helplink,
#page-footer .homelink {
	font-size:1.1em;
	margin:0.8em 0;
}

/* Layout
----------------------------*/

#page-content .region-content {
	padding:0 0 0 0;
}
#page-content #region-post-box {
    margin-left: -410px;
}
#page-content #region-pre {
	width:210px;
	left:210px;
}
#page-content #region-post {
	width:210px;
}
#page-content #region-main {
	padding:0 10px;
	margin-left: 420px;
}

#page-content #region-main .region-content {
	padding:0 0 0 0;
}
.side-pre-only #page-content #region-main {
	margin-left:210px;
}
.side-post-only #page-content #region-main {
	margin-left:202px;
}
.side-post-only #page-content #region-post-box {
	margin-left:-210px;
}
.content-only #page-content #region-main {
	padding:0 3px;
}

.pagelayout-course #page-content #region-main {
	margin-left: 360px;
}
.pagelayout-course #page-content #region-pre {
	width:180px;
	left:180px;
}
.pagelayout-course #page-content #region-post {
	width:180px;
}
.pagelayout-course #page-content #region-post-box {
	margin-left:-380px;
}
.side-pre-only.pagelayout-course #page-content #region-main {
	margin-left:190px;
	padding:0;
}
.side-post-only.pagelayout-course #page-content #region-main {
	margin-left:180px;
	padding:0 10px 0 0;
}
.side-pre-only.pagelayout-course #page-content #region-pre {
	left:0
}
.side-post-only.pagelayout-course #page-content #region-post-box {
	margin-left:-180px;
}
.content-only.pagelayout-course #page-content #region-main {
	padding:0;
	margin-left:0;

}
.content-only.pagelayout-course #page-content #region-post-box {
	margin-left:0;
}
/* Header
----------------------------*/

#header-left {
    float: left;
}
.headermain,
.headermenu {
    margin: 0;
}
#headermenu {
  float:right;
  margin-top: 12px;
  text-align: right;

}
#headermenu .logininfo {
	color:#FFF;
	float:right;
	clear:left;
}
#headermenu .logininfo a {
	color:#CCC;
}
#headermenu .userpic {
    background: url([[pix:theme|userpic]]) no-repeat scroll right top transparent;
    float: right;
    height: 80px;
    padding-left: 10px;
    text-align: center;
    width: 80px;
}
#headermenu .userpic img {
	border: 1px solid #FFF;
    height: 68px;
    width: 68px;
}

#headermenu .langmenu {
}
#headermenu .langmenu select {
	margin-top:3px;
}

#page-header h1 {
    float: left;
    margin: 13px 10px;
    color: #FFFFFF;
	font-size:2em;
    padding-top: 25px;
	line-height: 1.5em;

}
#page-header h1.inside {
    color: #666;
    font-size: 2em;
}
#page-header p {
    color:#999;
}
.school-logo {
	float: left;
}
.school-logo img {
	padding:25px 0;
	vertical-align: middle;
}

/* Navbar
----------------------------*/

.navbar,
.blank {
    background: #A1A1A1;
    color: #FFFFFF;
	border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 0;
	height: 30px;
    line-height: 20px;
    margin: 0;
	width:auto;

}
.navbar .nav-effect,
.navbar.blank .nav-effect {
	height: 30px;
	background: url([[pix:theme|nav-grad-dark]]) top left repeat-x;
	padding: 0 2px;
}
.navbar .breadcrumb,
.navbar.blank .breadcrumb {
	margin: 7px 5px 0;
}
.navbar .breadcrumb a, .navbar .breadcrumb,  .navbar .breadcrumb li {
	color:#FFF;
}
.breadcrumb span.arrow {
    color: #CCCCCC;
    font-size: 8px;
    vertical-align: middle;
}
.navbar .navbutton {
	margin-top:3px;
}
.navbar.blank,
body.path-login .navbar.blank  {
	display:none;
}
.notloggedin .navbar.blank {
	display:block;
}

/* Blocks
----------------------------*/

.block {
	border:none;
	padding:0;
}
.block .header h2 {
	color: #ffffff;
	font-weight: normal;
	font-size: 1.2em;
	background: transparent url([[pix:theme|sbhrbg-grad-dark]]) top left repeat-x;
	padding: 2px 5px;
	margin:0;
}
.block .header .hide-show-image {
	padding:3px 5px;

}
.block .content {
	border-style:solid;
	border-width:1px;
	padding:4px;
	border-color: #D3D3D3;
}
.block .header,

.block h2.header {
	border: none;
	color: #FFFFFF;
	padding: 0;
}
.block h2.main {
	font-size: 1em;
	padding:5px 0 5px;
	margin:0;
	border:none;
}
.block .header .block_action {
	height:15px;
	margin:4px 2px;
	padding:0;
	overflow:hidden;
}
.block .header .block_action img {
	margin: 0 4px 0 0;
	background:#CCC;
}
.block .header .commands {
	padding:0;
}
.block .header .commands img {
	margin:5px 4px;
}
.block .content .userpicture {
	margin-top:3px;
	margin-bottom:-2px;
	border:1px solid #D3D3D3;

}
.block .footer select {
	width:150px;
	margin:2px;
}
.block .block_tree li p {
    color: #0066CC;
}
.block_tree .collapsed .tree_item.branch {
	background-position: 3px 2px !important;
}
.block_tree .tree_item.branch,
.block_settings .block_tree .tree_item.branch,
.block_navigation .block_tree .tree_item.branch {
	background-position: 3px 2px !important;
}
.block_settings .block_tree li.item_with_icon > p img,
.block_navigation .block_tree li.item_with_icon > p img  {
	top:0;
}
.block .block_tree .current_branch {
    font-weight: normal;
}
.block_settings .adminsearchform #adminsearchquery {
	padding:2px;
	width:100px;
}
.block_gdata .content .icon img {
	margin-right: 3px;
}
.block_gmail .content .r0,
.block_gmail .content .r1,
.block_gaccess .content .r0,
.block_gaccess .content .r1 {
	padding:3px 0;
}
.block_gmail .content .r1,
.block_gaccess .content .r1 {
	background:#f1f1f1;
}

/* Calendar
----------------------------*/
.block_calendar_month .calendar-controls {
    background: #FFFFFF;
    padding: 7px 3px 3px;
}
.block_calendar_month {
	background:#F0F0F0;
}
.block .minicalendar {
	border:none;
	margin:4px auto;
	background:#FFF;
}
.block .minicalendar th, .block .minicalendar td {
	border:none;
	font-size: 1em;

}
.block .minicalendar td.today {
    border: 1px solid #0066CC;
}
.block .minicalendar td.weekend {
    color: #666;
}
.maincalendar {
	border: 1px solid #D3D3D3;
}
.maincalendar  .header {
    background: #EAEAEA;
	padding: 5px;

}
.maincalendar h1 {
	margin:0;
	padding:0;
}
.maincalendar .filters table {
    margin: 0 auto;
    width: 98%;
}
#page-calendar-view #region-post .minicalendarblock {
	background:#EAEAEA;
	margin:-4px;
}
#page-calendar-view #region-post .minicalendarblock h3 {
	margin:0;
	padding:0.7em 0 0;
	text-align:center;
	font-weight:normal;
}
#page-calendar-view #region-post .minicalendarblock .minicalendar {
	width:96%;
}
#dockeditempanel .dockeditempanel_hd .commands {
	float:right;
	position:absolute;
	top:4px;
	right:5px;
}
#dockeditempanel .dockeditempanel_hd .commands img {
	margin:0 2px;
}
#dockeditempanel .dockeditempanel_hd h2 {
	font-size:1.1em !important;
}
#dockeditempanel .minicalendar th,

#dockeditempanel .minicalendar td {
	border:none;
	font-size: 0.8em;
}
#dockeditempanel .minicalendar th,

#dockeditempanel .minicalendar td,
.path-course .minicalendar th,

.path-course .minicalendar td {
	padding:1px;
}
#dockeditempanel .minicalendar td.today {
    border: 1px solid #0066CC !important;
}
#dockeditempanel .calendar-controls {
	text-align:center;
}
#dockeditempanel .calendar-controls .current {
	margin:0 30px;
	font-size: 0.9em;
}

/* Courses

----------------------------*/

h2.main,
h2.headingblock {
	font-size:1.6em;
	border-color:#D3D3D3;
    border-style: solid;
    border-width: 1px;
    margin: 0 0 1em;
    padding: 8px 5px;
	background:#fbfbfb;
}
h2.main span.helplink{
	margin-left: 5px;

}
h2.main img,
h3.main img {
	margin: 0 3px 0 5px;
}
img.icon {
	vertical-align:inherit;
}
.categorybox .category {
	font-size:1.2em;
	font-weight:bold !important;
}
.coursebox {
	width:auto;
    border:1px solid #D3D3D3
}

.coursebox .info {
    width: 35%;
	padding:5px;
}

.coursebox .info .name,
.coursebox .info h3 {
    margin: 0;
	padding:0;
	font-weight:normal;
}

.coursebox .info .teachers {
    font-size: 0.9em;
    color: #888;
}
.coursebox .summary {
    width: 63%;
}
.course-content .section.main {
    border:none;
	padding-bottom:2px;
}
.course-content .section.main .content {
    padding: 5px 5px 10px;
}
.course-content .weeks .section.main .content,
.course-content .topics .section.main .content {
    margin-left: 0px;
	padding-left: 10px;
	float:left;
}
.course-content .weeks .section.main .left,
.course-content .topics .section.main .left {
 	width:20px;
	padding:5px;
	font-size:1.2em;
	font-weight:bold;
}
.course-content .weeks .section.main .right,
.course-content .topics .section.main .right {
	padding:5px;
	border:none;
}

.course-content ul.weeks li.section,
.course-content ul.topics li.section {
	margin:2px 0 4px;
 	border:1px solid #d5d5d5;

}
.course-content .section.main.current {
    background:#f0f0f0;
}
.course-content .weeks .section.main h3.weekdates,
.course-content .topics .section.main h3.weekdates {
    color: #666;
}
.course-content .section .activity img.activityicon {
	margin-bottom:5px;
}
.course-content .current .left,
.course-content .current h3.weekdates {
    color: #666 !important;
}
.path-course-view .headingblock {
	margin-bottom:1px;
}
.categorybox .categorylist {
	clear:both !important;
}
.categorylist .category {
	margin:5px 0;
}
.course_category_tree div {
	margin:3px 0;
}
.course_category_tree .category .category {
	margin:3px;

}
.course_category_tree .category.with_children .subcategories .with_children .with_children,
.course_category_tree .category.with_children .subcategories .with_children .with_children .with_children {
	padding-left:29px;
}
.course_category_tree .subcategories .with_children .courses {
	padding-left:54px;
}
.course_category_tree .category.with_children > .category_label,
.jsenabled .course_category_tree .category.with_children.collapsed .category_label {
	background-position: 0 6px;

}
.course_category_tree .subcategories .category.with_children > .category_label,
.jsenabled .course_category_tree .subcategories .category.with_children.collapsed .category_label {
	background-position: 23px 6px;

}
.course_category_tree .category_label {
	font-size:1.1em;
	font-weight:bold;
}
.course_category_tree .category .course_info .smallicon {
	margin:0 0 0 7px;
}
.categorybox .categorylist .category .name {
	font-size:0.9em;
	font-weight:bold;
}
.categorylist .course {
	padding-left:0px;
	padding-bottom:25px;

}
.categorylist .indentation {
	padding-left:30px;

}
.course_category_tree .subcategories .category_label {
	padding-left:40px;

}
.course_category_tree .category .courses {
	padding-left:26px;
	margin:3px 0;
}
.course_category_tree .category_label a img,
.course_category_tree .courses .course a img{
	margin:0 5px -4px 5px;
}
.categorybox .categorylist .category img,
.categorybox .categorylist .course a img {
	margin:-7px 3px 0px 5px;
}
.categorybox .categorylist .course a img {
	margin-bottom:-4px;
}
.categorybox .categorylist .course .name {
	margin:5px 0;
}
.categorybox .categorylist .course .smallicon {
	margin: 0 3px

}
.course_category_tree .controls {
	font-size:0.85em;
	font-weight:bold;
	color:#0066CC;
	margin: 12px 0 0 0;
	padding-left:15px;
}
.course_category_tree .controls div {
		margin:0;
}
.course_category_tree .controls div.expandall {
	padding: 0 10px 0 0;
	border-right:1px solid #777;

}
.course_category_tree .controls div.collapseall {
	padding: 0 0 0 10px;
}
.categorypicker {
	margin-bottom:10px;

}
.path-my .coursebox .overview {
	padding: 0 0 0 13px;

}
.path-my .coursebox .overview .info {
	padding: 0 0 0 35px;
}
.path-grade-report-grader h1 {
	clear:none;
}
.path-grade-report-grader #page-content h1 {
	clear:both;
}

/* Forum

--------------------------*/

.forumpost {
	border:none;
	margin: 5px 0;
}
.forumpost .topic {
    font-size:0.9em;
	font-weight:bold;
	background: #eee;
    border-width: 0;
    padding: 7px 10px 7px;
}

.forumpost .subject {
    font-size: 1.25em;
}

.forumpost .author {
    font-size: 0.95em;
	font-weight:normal;
    font-style: italic;
}

.forumpost .no-overflow {
    border-width: 0 1px 10px;
    border-style: solid;
    border-color: #aaa #eee #eee;
    margin: 0 1px 1px 1px;
}

.forumpost .content .posting {
    padding: 5px 10px 10px;
}
.filemanager-container {
	margin:6px 0 !important;
}
.redirectmessage {
	color:#333;
	margin: 10px auto;
	width:70%;
	padding:15px;
	background:#FFFFFF;
}
.continuebutton {
	width:70px !important;
	padding:5px 10px;
	background:#FFFFFF;
	margin:0 auto;
	text-align:center;
}
#page-mod-forum-discuss .discussioncontrols {
	margin:13px 0;
}

/* Misc

--------------------------*/

.notifysuccess {
	margin:0 0 10px;
}

/* Dock

--------------------------*/

#dock {
    background: #eee;
    border: none;
}

#dock .firstdockitem {
    margin-top: 15px;
}

#dock .dockeditem {
    background-color: #fff;
    border: 1px solid #D3D3D3;
    border-width: 0 1px 1px 0;
    padding: 3px 0;
}

#dock .dockeditem .dockedtitle {
    border: none;
}
#dock .dockeditem .dockedtitle h2 {
    margin: 12px 0 12px 7px;
    color: #666;
}
#dockeditempanel {
	width:220px;
}
#dockeditempanel .dockeditempanel_content {
    border-color: #D3D3D3;
}

#dockeditempanel .dockeditempanel_hd {
    border-bottom: none;
    padding: 3px 5px;
    background: #eee;
    text-align: left;
}

#dockeditempanel .dockeditempanel_hd h2 {
    color: #333;
    text-align: right;
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 2px;
}

#dockeditempanel .dockeditempanel_hd .commands {
    float: right;
}

.has-custom-menu #dock .firstdockitem {
    margin-top:30px;
}

#custommenu .yui3-menu-horizontal,
#custommenu .yui3-menu-horizontal.javascript-disabled {
    padding-left:100px;
    border-bottom:1px solid #D3D3D3;
    background-color:#EEE;
}

.has-custom-menu #wrapper,
#custommenu .yui3-menu-horizontal .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li li:hover > a {
    border-width:0;
}

#custommenu .yui3-menu-horizontal .yui3-menu-content ul ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul ul {
    background-color:#F9F9F9;
    border:1px solid #D3D3D3;
    border-top-width:0;
}

#custommenu .yui3-menu-horizontal .yui3-menu-content li a {
    display:block;
    height:24px;
    vertical-align: bottom;
    padding:5px 10px 0 10px;
    cursor:pointer;
}

#custommenu .yui3-menu-horizontal .yui3-menu-content li:hover,
#custommenu .yui3-menu-horizontal .yui3-menu-content .yui3-menu-label-active {
    background-color:#F9F9F9;
}

#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li:hover > a {
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    padding:5px 9px 0 9px;
}

.yui3-skin-sam #custommenu .yui3-menu-label,
.yui3-skin-sam #custommenu .yui3-menu .yui3-menu .yui3-menu-label,
.yui3-skin-sam #custommenu  .yui3-menuitem-content,
.yui3-skin-sam #custommenu .yui3-menu .yui3-menu .yui3-menuitem-content {
    color:#F25F0F;
    border-width:0;
    padding-right: 25px;
}

.yui3-skin-sam #custommenu .yui3-menu-content,
.yui3-skin-sam #custommenu .yui3-menu .yui3-menu .yui3-menu-content {
    padding:0;
}

#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li li:hover,
.yui3-skin-sam #custommenu .yui3-menu .yui3-menuitem.yui3-menuitem-active .yui3-menuitem-content {
    background-color:#FFF;
}

/* General
--------------------*/

.generalbox,
.mform fieldset,
fieldset#general,
.mform fieldset legend,
fieldset#general legend {
	border:1px solid #D3D3D3;
	padding:8px;
	margin: 0 auto 10px;
}
.notifytiny {
	background:#FFFFFF;
}


/* Login
------------------*/

.loginbox {
    border: 1px solid;
    margin: 25px 0 15px 25%;
    margin-left: 25%;
    overflow: hidden;
    width: 50%;
}
.loginbox h2 {
	font-size: 1.4em;
}
.loginbox .guestsub, .loginbox .forgotsub {
border-top: 1px solid;
    margin-bottom: 5px;
    margin-left: 12%;
    margin-right: 12%;
}

/* Icons */
.course_category_tree .category .courses .course_link {background-image:none;}
